<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Zcode</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ZCode</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>${version}</string>
	<key>CFBundleVersion</key>
	<string>${build}</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>XCSourceEditorCommandDefinitions</key>
			<array>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>assertOutlets</string>
					<key>XCSourceEditorCommandName</key>
					<string>Assert IBOutlets</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>cast</string>
					<key>XCSourceEditorCommandName</key>
					<string>Cast</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>read</string>
					<key>XCSourceEditorCommandName</key>
					<string>Generate Cast.read</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>nscoding</string>
					<key>XCSourceEditorCommandName</key>
					<string>Generate NSCoding</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>copy</string>
					<key>XCSourceEditorCommandName</key>
					<string>Generate NSCopying</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>customInit</string>
					<key>XCSourceEditorCommandName</key>
					<string>Generate init(vars....)</string>
				</dict>
			</array>
			<key>XCSourceEditorExtensionPrincipalClass</key>
			<string>$(PRODUCT_MODULE_NAME).SourceEditorExtension</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.dt.Xcode.extension.source-editor</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 Houzz. All rights reserved.</string>
</dict>
</plist>
